.project {
  margin-bottom: 120rem;
  &__items {
    width: 100%;
    height: fit-content;
    overflow: hidden;
  }

  &__item {
    position: relative;
    margin-bottom: 90rem;
    height: 100%;

    &:last-child{
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 30rem;
      background: rgba($highlights-color, 0.8);
    }
  }

  &__img {
    width: 100%;
    height: 650rem;
    border-radius: 30rem;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    max-width: 85%;
    top: 60rem;
    left: 68rem;
  }

  &__stack {
    position: relative;
    @include font-face(30rem, 34rem, 600);
    color: $highlights-color;
    text-shadow: 2rem 2rem 1rem $selection-color;
  }

  &__title {
    margin: 40rem 0;
    @include font-face(44rem, 46rem, 900);
    color: $selection-color;
  }

  &__description {
    @include font-face(22rem, 34rem);
    text-align: justify;
  }
}

@media (max-width: 480px) {
  .project {
    &__content {
      top: 40rem;
      left: 30rem;
    }

    &__stack {
      @include font-face(28rem, 30rem, 600);
    }

    &__title {
      margin: 15rem 0;
      @include font-face(30rem, 34rem, 900);
    }

    &__description {
      @include font-face(20rem, 22rem);
    }
  }
}
