.education {
  margin-bottom: 120rem;

  &__items {
    margin-left: 35rem;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    column-gap: 30rem;
    margin-bottom: 60rem;
    width: 100%;
    height: 80rem;
    @include font-face(22rem, 22rem);
    @extend %underscore;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    @include font-face(22rem, 22rem);
  }
}

@media (max-width: 480px) {
  .education {
    &__item {
      grid-template-columns: 1fr;
      row-gap: 20rem;
      padding-bottom: 40rem;
      height: fit-content;
      @include font-face(18rem, 18rem);
    }

    &__title {
      text-align: left;
    }
  }
}
