.education {
  margin-bottom: 70rem;

  &__items {
    margin-left: 35rem;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    column-gap: 30rem;
    margin-bottom: 60rem;
    width: 100%;
    height: 80rem;
    font-size: 22rem;
    @extend %underscore;
  }

  &__title {
    text-align: center;
    font-weight: 400;
    font-size: 22rem;
  }
}

@media (max-width: 480px) {
  .education {
    &__item {
      grid-template-columns: 1fr;
      row-gap: 20rem;
      padding-bottom: 40rem;
      height: fit-content;
      font-size: 18rem;
    }

    &__title {
      text-align: left;
    }
  }
}
