.skills {
  margin: 70rem 0;
  padding: 65rem 35rem;
  height: fit-content;
  border-radius: 30rem;
  background: linear-gradient(90deg, $second-color 0%, $highlights-color 100%);
  color: $selection-color;
  @include font-face(23rem, 23rem, 600);

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20rem;
    grid-row-gap: 40rem;
    margin-top: 12rem;
  }

  &__item {
    display: flex;
    align-items: center;

    img {
      margin-right: 20rem;
      width: 50rem;
      height: 50rem;
      object-fit: contain;
    }
  }
}

@media (max-width: 480px) {
  .skills {
    @include font-face(18rem, 18rem, 600);
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      img {
        margin-right: 10rem;
      }
    }
  }
}
