.skills {
  margin-bottom: 70rem;
  padding: 65rem 35rem;
  height: fit-content;
  border-radius: 30rem;
  background: linear-gradient(90deg, $second-color 0%, $highlights-color 100%);
  color: $selection-color;
  font-weight: 600;
  font-size: 23rem;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20rem;
    grid-row-gap: 40rem;
    margin-top: 12rem;
  }

  &__item {
    display: flex;
    align-items: center;

    img {
      margin-right: 20rem;
      width: 50rem;
      height: 50rem;
      object-fit: contain;
    }
  }
}


.title {
  margin-top: 12rem;
  font-weight: 700;
  font-size: 20rem;
  line-height: 20rem;
  @extend %calibri-skills;
}

.subtitle {
  font-weight: 400;
  font-size: 18rem;
  line-height: 18rem;
  @extend %calibri-skills;
}

.addition {
  font-weight: 400;
  font-size: 16rem;
  line-height: 16rem;
  color: #73808d;
  @extend %calibri-skills;
}

@media (max-width: 480px) {
  .skills {
    font-size: 18rem;
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      img {
        margin-right: 10rem;
      }
    }
  }
}
