.skills {
  padding: 10rem 18rem;
  height: fit-content;
  border-radius: 10rem;
  background: $text-color;
  color: $selection-color;
}

.paragraph {
  position: relative;
  margin-top: 12rem;
  padding: 3rem 30rem;
  width: 62%;
  border-radius: 5rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22rem;
  line-height: 25rem;
  color: $text-color;
  text-transform: uppercase;
  background: $selection-color;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 100%;
    width: 66%;
    height: 1px;
    background: $selection-color;
  }
}

.title {
  margin-top: 12rem;
  font-weight: 700;
  font-size: 20rem;
  line-height: 20rem;
  @extend %calibri-skills;
}

.subtitle {
  font-weight: 400;
  font-size: 18rem;
  line-height: 18rem;
  @extend %calibri-skills;
}

.addition {
  font-weight: 400;
  font-size: 16rem;
  line-height: 16rem;
  color: #73808d;
  @extend %calibri-skills;
}

.skills-items {
  display: grid;
  margin-top: 12rem;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20rem;
  grid-row-gap: 15rem;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    margin-bottom: 10rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18rem;
    line-height: 18rem;
    color: $selection-color;
    cursor: pointer;

    &:hover {
      color: $highlights-color;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.4);

    img {
      width: 30rem;
      height: 30rem;
      object-fit: contain;
    }
  }
}
