.catalog {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    padding-top: 60rem;
  }

  &__inner {
    display: grid;
    gap: 6rem;
    padding: 10rem 14rem;
  }
}

.project {
  display: grid;
  margin: 0 30rem;
  padding: 10rem 18rem;
  gap: 6rem;
  grid-template-columns: 40% 25% 35%;
  grid-template-areas:
    "title title img img"
    "stack . img img"
    "desc desc img img "
    "desc desc img img "
    "path repo img img ";
  align-items: center;
  height: fit-content;
  @extend %about_back;

  @media (max-width: 480px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "title title stack stack"
      "path path repo repo"
      "desc desc desc desc "
      "img img img img "
      "img img img img ";
  }

  &__title {
    position: relative;
    grid-area: title;
    font-size: 22rem;
    font-weight: bold;
    text-align: center;

    &::after {
      position: absolute;
      content: "";
      bottom: -5rem;
      left: 10%;
      width: 80%;
      height: 1rem;
      background: $highlights-color;
    }
  }

  &__description {
    grid-area: desc;
    font-size: 18rem;
    line-height: 23rem;
    text-indent: 30rem;
    text-align: justify;
  }

  &__stack {
    grid-area: stack;
    font-size: 16rem;

    @media (max-width: 480px) {
      text-align: end;
    }
  }

  &__btn {
    &-path {
      grid-area: path;
      justify-self: center;
      align-self: center;
      cursor: pointer;
    }

    &-repo {
      grid-area: repo;
      justify-self: center;
      align-self: center;
      cursor: pointer;
    }
  }

  img {
    grid-area: img;
    object-fit: contain;
    object-position: 0;
    justify-self: center;
    align-self: center;
    width: 300rem;
    height: 250rem;
    cursor: pointer;
    transition: 1s;

    &:hover {
      transform: scale(2) translateX(-200rem);
      z-index: 10;

      @media (max-width: 480px) {
        transform: scale(1.5);
      }
    }
  }
}

.btn {
  padding: 5rem 0;
  width: 150rem;
  font-size: 18rem;
  color: $text-color;
  outline: none;
  border-radius: 10rem;
  background: rgba(196, 196, 196, 0.35);
  cursor: pointer;
}
