.about {
  margin: 70rem 0;
  width: 100%;
  height: fit-content;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 40rem 0;

  &__img {
    position: relative;
    margin-top: 20rem;
    img {
      width: 300rem;
      height: 300rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 310rem;
      height: 310rem;
      border-radius: 50%;
    }

    &::after {
      top: 10rem;
      left: 1rem;
      z-index: -2;
      background-color: $highlights-color;
    }

    &::before {
      top: -10rem;
      right: 5rem;
      z-index: -1;
      background-color: $text-color;
      filter: brightness(0.9);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50rem;

    &-name {
      @include font-face(40rem, 42rem, 500);

      span {
        color: $highlights-color;
      }
    }

    &-speciality {
      margin-top: 10rem;
      width: 100%;
      animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      @include font-face(60rem, 60rem, 600);
      color: $text-color;
    }
  }

  &__contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    @extend %about;

    a {
      position: relative;
      width: fit-content;
      height: fit-content;
      animation-duration: 45s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        @include transition(all 0.5s);
      }

      &:hover::after {
        top: -9rem;
        left: -9rem;
        width: 100rem;
        height: 100rem;
        border-radius: 50%;
        background: rgba($highlights-color, 0.5);
      }
    }

    > :nth-child(odd) {
      animation-name: bounce-2;
    }

    > :nth-child(even) {
      animation-name: bounce-3;
    }

    > :nth-child(3) {
      justify-self: end;
    }

    > :last-child {
      justify-self: end;
      animation-name: bounce-3;
    }

    *img {
      width: 80rem;
      object-fit: contain;
    }
  }
}

.edition {
  margin: 0;
  width: 100%;
  @extend %about;

  > ul {
    margin-left: 18rem;
    padding: 0;
    text-align: justify;
  }

  * li {
    position: relative;
    margin-bottom: 8rem;
    @include font-face(24rem, 24rem);
    list-style-type: none;

    &::after,
    &::before {
      position: absolute;
      @include font-face(26rem, 26rem, bold);
      color: $highlights-color;
    }

    &::before {
      content: "<";
      margin-left: -18rem;
    }

    &::after {
      content: "/>";
      margin-left: 4rem;
    }
  }
}

@media (max-width: 480px) {
  .about {
    margin-top: 0;
  }
  .profile {
    margin-top: 100rem;

    &__img {
      &::after,
      &::before,
      img {
        width: 160rem;
        height: 160rem;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50rem;

      &-name {
        @include font-face(30rem, 30rem, 500);
      }

      &-speciality {
        @include font-face(35rem, 35rem, 600);
      }
    }

    &__contact {
      position: relative;
      align-self: center;
      margin: 20rem 0;
      width: 80%;

      a {
        animation-duration: 0s;
      }
    }
  }

  .edition {
    *li {
      font-size: 18rem;
      &::after,
      &::before {
        position: absolute;
        @include font-face(20rem, 20rem, bold);
        color: $highlights-color;
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(360%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-3 {
  0% {
    transform: translateY(360%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(360%);
  }
}
