.link {
  padding: 0.625px 0.9375px;
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
}

.link-nav {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: -10rem;
    width: 0;
    height: 4rem;
    background: $highlights-color;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    background: $highlights-color;
    -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -moz-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &:hover::before {
    width: 100%;
    background: $highlights-color;
    -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -moz-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: -1;
  }

  &:hover::after {
    background: transparent;
    width: 100%;
    transition: 0s;
    z-index: -1;
  }
}

.link-active {
  border-bottom: 1rem solid $highlights-color;
}
