$text-color: #fff;
$second-color: #cecaca;
$selection-color: #1D262D;
$highlights-color: #0280a7;
// #dea426

%about_back {
  border-radius: 10rem;
  background: rgba(196, 196, 196, 0.35);
}

%about {
  font-style: normal;
  font-size: 20rem;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 1rem;
}

%calibri-skills {
  font-family: Calibri;
  font-style: normal;
  color: #343434;
}

.paragraph {
  margin-top: 12rem;
  margin-bottom: 50rem;
  font-weight: 600;
  font-size: 32rem;
  letter-spacing: 2rem;
  color: $highlights-color;
}
