.footer {
  width: 100%;
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 18rem;
    > p {
      margin: 0 10px;
    }
  }
}
