.container {
  cursor: pointer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.tooltip {
  position: absolute;
  padding: 10rem 15rem;
  top: 370rem;
  left: 750rem;
  width: 450rem;
  height: fit-content;
  border-radius: 10rem;
  color: $text-color;
  @extend %about;
  background: $highlights-color;

  @media (max-width: 480px) {
    margin: 15rem;
    top: 115vh;
    left: 0;
    width: fit-content;
  }
}
