html {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: calc(1vw / 14.4); /* 100vw / 1440 */
  @media screen and (max-width: 480px) {
    font-size: calc(1vw / 4.8);
  }
  @media screen and (min-width: 1441px) {
    font-size: calc(1vw / 20);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #343434 0.01%,
    #0280a7 93.75%
  );
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1140rem;
  min-height: 100vh;
  font-family: Inter;
  font-size: 25rem;
}